---
import SectionLayout from "@layouts/SectionLayout.astro";
import ImageCard from "@components/ImageCard.astro";
import ImageCardsContainer from "@components/ImageCardsContainer.astro";
import Footer from "@components/Footer.astro";
---

<SectionLayout>
  <ImageCardsContainer>
    <ImageCard
      imageSrc="/investment/photo-about-us-dr-investment.jpg"
      imageAlt="Our Approach"
      title="Our Approach"
    >
      <p class="text-secondary-foreground" slot="description">
        For those in search of alpha, Double River Investments offers a quantitatively driven
        approach, leveraging advanced models and systematic strategies to consistently deliver
        results. We believe in the power of technology and data-driven insights, grounding our
        investment decisions in thorough analysis and rigorous risk management techniques.
      </p>
    </ImageCard>
  </ImageCardsContainer>

  <Footer section="investments" slot="footer" />
</SectionLayout>
