---
import Layout from "@layouts/Layout.astro";

import { cn } from "@utils/cn";

const paths = [
  {
    label: "About",
    path: "/investments/about",
  },
  {
    label: "Strategies",
    path: "/investments/strategies",
  },
  {
    label: "Team",
    path: "/investments/team",
  },
] as const satisfies readonly { label: string; path: `/investments/${string}` }[];

const url = new URL(Astro.request.url);
const currentPath = paths.find(({ path }) => path === url.pathname);
---

<Layout title={`Double River | ${currentPath.label}`}>
  <main class="m-auto p-4 max-w-[80ch]">
    <div class="flex items-center justify-center gap-6">
      {
        paths.map(({ label, path }) => (
          <a
            class={cn("px-2 py-1 text-center text-xl font-medium text-[#2687c5]", {
              "bg-[#edffff]": currentPath === path,
            })}
            href={path}
          >
            {label}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
