---
import SectionLayout from "@layouts/SectionLayout.astro";
---

<SectionLayout>
  <div class="flex flex-col gap-3">
    <div class="flex justify-center items-center gap-8">
      <img src="/investment/photo-culture-dr-investment.jpg" alt="About Us" class="w-2/5" />

      <div class="flex flex-col gap-1">
        <h1 class="font-bold text-2xl text-secondary-foreground tracking-wider">Culture</h1>

        <p class="text-secondary-foreground">
          Our team covers multiple disciplines from Computer Science and Mathematics to Econometrics
          and Statistics, with backgrounds ranging from years in the industry to current students.
          We work remote, cover multiple time zones, and love what we do. The Double River culture
          is all about trust, being curious, and working together.
        </p>
      </div>
    </div>

    <div class="flex justify-center items-center gap-8">
      <div class="flex flex-col gap-1">
        <h1 class="font-bold text-2xl text-secondary-foreground tracking-wider">Systematic</h1>

        <div class="text-secondary-foreground flex flex-col gap-3">
          <p>
            If you feel you share the same passion for problem solving and the needed proactive work
            ethic, take a look at our current openings.
          </p>

          <p>Alternatively, you may reach out to us directly at hiring@doubleriver.com</p>
        </div>
      </div>

      <img src="/investment/photo-openings-dr-investment.jpg" alt="About Us" class="w-2/5" />
    </div>
  </div>

  <div class="text-center py-6" slot="footer">
    <span class="text-investments">2023 Double River Investments, LLC</span>
  </div>
</SectionLayout>
