---
import SectionLayout from "@layouts/SectionLayout.astro";
import Footer from "@components/Footer.astro";
import { heading1Variants } from "@components/Heading1.astro";
---

<SectionLayout>
  <div class="text-center flex flex-col gap-1.5 justify-center items-center">
    <h1 class={heading1Variants()}>Portfolio</h1>

    <p class="text-lg text-muted-foreground">
      Welcome to Double River Impact, our dedicated unit focused on making a positive social and
      environmental impact through venture capital investments. We believe in the power of capital
      to drive change, and our mission is to support and empower innovative ideas that create a
      sustainable future.
    </p>
  </div>

  <Footer section="impact" slot="footer" />
</SectionLayout>
