---
import SectionLayout from "@layouts/SectionLayout.astro";
import ImageCard from "@components/ImageCard.astro";
import ImageCardsContainer from "@components/ImageCardsContainer.astro";
import Footer from "@components/Footer.astro";

const cards = [
  {
    title: "Empowering Rural Communities through Entrepreneurship",
    imageSrc: "/impact/bicycle-bricks-road.png",
    imageAlt: "A person on a bicycle carrying a large stack of red bricks on a dirt road",
    description:
      "Our impact venture, Centre of Love Metal Workshop, uses the profits from its metalworking business to fund the needs of its Ugandan village. From construction of orphanages, to laying and maintaining pipes to clean water sources, Centre of Love is using entrepreneurship, hard work, and kindness to lift and empower its community.",
  },
  {
    title: "Sustainable Agriculture for Food Security",
    imageSrc: "/impact/field-crops-workers.png",
    imageAlt:
      "A field with rows of crops and white bags, with three people working in the background",
    description:
      "One of our portfolio companies, Torh Organic Farm, strives to produce day-to-day consumable agricultural products on a commercial scale in Liberia, while creating sustainability and affordability for the local community. They produce food using integrated farming systems and irrigation techniques, with the intent to narrow the existing demand and supply gap and impact the seasonal price fluctuation for local and regional consumers.",
  },
  {
    title: "Reforming Reliable Transportation",
    imageSrc: "/impact/matatus.jpg",
    imageAlt: "A colorful bus with luggage on its roof driving on a highway in a rural area",
    description:
      "Easy Matatu, one of our investments, provides affordable, clean, safe, and reliable transportation in Africa. Not only is this company filling a quality service gap in the mass transit industry in Africa, but they are also reducing emissions as their customers have switched from private vehicles to Easy Matatu’s transportation services.",
  },
  {
    title: "Bridging the Unemployment Gap through Technology",
    imageSrc: "/impact/woman-child-rural.png",
    imageAlt: "A woman holding a child in her arms in a rural setting",
    description:
      "In a region where unemployment is high and commerce of goods is a significant source of income for unemployed individuals, Cowema provides the technology to sell goods to a broad audience with the combined offerings of app, website, integrated mobile payment, and delivery services. The Cowema platform positively impacts the revenue potential for small business owners, individuals, and families in the Congo, placing the power in the hands of the people to provide for themselves.",
  },
] satisfies Array<{
  title: string;
  imageSrc: string;
  imageAlt: string;
  description: string;
}>;
---

<SectionLayout>
  <ImageCardsContainer>
    {
      cards.map((card, index) => (
        <ImageCard
          title={card.title}
          imageSrc={card.imageSrc}
          imageAlt={card.imageAlt}
          reverse={index % 2 !== 0}
        >
          <p class="text-secondary-foreground" slot="description">
            {card.description}
          </p>
        </ImageCard>
      ))
    }
  </ImageCardsContainer>

  <Footer section="impact" slot="footer" />
</SectionLayout>
