---
import Layout from "@layouts/MainLayout.astro";
import { logos } from "@lib/sections";
---

<Layout title="Double River">
  <main
    class="flex min-h-screen flex-col gap-12 justify-center items-center max-w-5xl mx-auto px-8 py-6"
  >
    <div class="text-center select-none">
      <span>Welcome to</span>
      <h1 class="lg:text-5xl md:text-3xl text-2xl tracking-extrawide font-cambriaMath small-caps">
        Double River
      </h1>
    </div>

    <div class="flex flex-wrap items-center gap-8 justify-center select-none pointer-events-none">
      {
        logos.map(({ name, src, alt }) => (
          <div class="flex flex-col items-center justify-center gap-2">
            <img src={src} alt={alt} class="w-12 md:w-20 lg:w-32" />
            <div class="flex flex-col -space-y-1.5 text-center">
              <span class="small-caps font-cambriaMath text-sm tracking-widest md:text-2xl">
                Double River
              </span>
              <span class="small-caps font-cambriaMath text-sm tracking-extrawidest">{name}</span>
            </div>
          </div>
        ))
      }
    </div>

    <div class="grid md:grid-cols-2 md:grid-rows-2 gap-x-10 gap-y-8">
      <p>
        Founded with the vision of realizing potential across global markets, Double River is a
        multi-faceted financial institution committed to fostering growth and delivering sustainable
        value. We house three distinct business units, each with a unique focus and strategy: Double
        River Investments, Double River Impact, and Double River Capital.
      </p>

      <p>
        Explore our site to learn more about each business unit, and discover how Double River can
        help you navigate your financial journey. We invite you to join us in creating an abundant
        future, shaped by responsible investments and positive impact.
      </p>

      <p>
        At Double River, we are united by our unwavering commitment to excellence, integrity, and
        innovation. We understand that the financial landscape is ever-evolving, and we continually
        adapt to ensure our clients can navigate it confidently. Whether through data-driven
        investment strategies, venture capital with a conscience, or effective capital placement
        services, we aim to surpass our clients' expectations.
      </p>

      <p>
        We understand that navigating global markets can be challenging, which is why we are here to
        assist you every step of the way. Feel free to reach out to our dedicated teams for any
        inquiries or additional information. Each business unit's page has a Contact Us section
        where you may reach its relevant team members.
      </p>
    </div>

    <span class="text-secondary-foreground">2023 Double River, LLC</span>
  </main>
</Layout>
