---
export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Cambria Math";
    src: url("/fonts/cambria-math.ttf") format("truetype");
  }

  @font-face {
    font-family: "Segoe UI";
    src: url("/fonts/segoeui.ttf") format("truetype");
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .small-caps {
      font-variant: small-caps;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 150 2% 22%;
    --secondary-foreground: 0 0% 40%;

    --investments-primary: 204, 100%, 36%;
    --investments-muted: 198 92% 90%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 216, 12%, 84%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 80%;
  }
</style>
